#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    font-family: cursive;
    color:  #006e65;
  }
  
  .container {
    background-color: #defdfb;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
/* buttons */
  .easy{
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    margin: 5px;
    background-color: rgb(51, 255, 0);
    color: white;
  }

  .hard{
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    margin: 5px;
    background-color: rgb(255, 102, 0);
    color: white;
  }

  .wrong{
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    margin: 5px;
    background-color: red;
    color: white;
  }
  .wrong:hover{
    transform: translateY(-2px);
    background-color: rgb(161, 0, 0);
  }
  .hard:hover {
    transform: translateY(-2px);
    background-color: rgb(173, 71, 2);

  }
  .easy:hover{
    transform: translateY(-2px);
    background-color: rgb(35, 172, 1);
  }

  .nextday{
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    margin: 5px;
    background-color: #006e65;
    color: white;
  }

  .showanswer{
    background-color: #006e65;
    color: white;
    margin-bottom: 20px;
  }

  .difficulty-prompt{
    font-size: 30px;
  }
  
  .day{
    font-size: 25px;
    font-weight: 600;
  }
  .cardnum{
    font-size: 30px;
    font-weight: 700;
  }